.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
